<?xml version="1.0" encoding="utf-8" ?>
<log4net>  
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <staticLogFileName value="false"/>
    <file value=".\\logs\\" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <datePattern value="yyyy-MM-dd&quot;.KP.Web.log&quot;" />
    <maximumFileSize value="10MB" />
    <rollingStyle value="Date" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>
